.background-header {
  background-image: url(../img/tarta.jpg) !important;
}

.background-services {
  background-image: url(../img/cumple.jpg) !important;
}

.background-contacto {
  background-image: url(../img/dos_pastelitos.jpg) !important;
}
